output/*
output full 20_12/*
CodeToRun_local.R
.Rproj.user*
.Rhistory
postgresql-42.2.18.jar
Cohorts/ExposureCohorts/sql/test hosp.sql
errorReportSql.txt
CodeToRun_local_HM.R
CodeToRunLocal.R
Results*
.Rproj.user
CPRDAurumIPResults
1_InstantiateCohorts/CopyOutcomeCohorts/*
troubleshooting.R
logfile.log
3_QC*
.Rprofile
networkResults*
4_ageStandardization/data*
